body {
  margin: 0 auto;
  height: 100%;

  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;

  background-image: linear-gradient(
      rgba(0, 32, 173, 0.432),
      rgba(0, 32, 173, 0.432)
    ),
    url(/img/background.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.header-container {
  margin: 0 auto;

  text-align: center;
}

.header-name {
  text-align: center;
}

.header-text {
  font-style: italic;
}

.form-container {
  background-color: rgba(23, 27, 63, 0.918);

  margin: 0 auto;

  width: 100%;
  max-width: 750px;
  padding: 10px 60px;

  border-radius: 5px;
}

/*.main-form {
} */

.form-text {
  box-sizing: border-box;
}

.form-input,
.form-select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: rgb(100, 100, 100);
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-radio-input {
  zoom: 1.5;
}

.chechbox-input {
  zoom: 1.5;
}

.form-textarea {
  resize: vertical;

  font-size: 16px;
  color: rgb(100, 100, 100);

  outline: none;

  border-radius: 5px;

  width: 100%;
  height: 160px;
  box-sizing: border-box;
}

.form-button {
  width: 100%;
  height: 60px;

  border-radius: 5px;

  color: white;
  background: rgba(58, 128, 79, 0.877);

  outline: none;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.little-comment {
  font-size: 12px;
}
